/.web-server-pid
/app/config/parameters.yml
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/node_modules/
/web/bundles/
src/Keyfile/topsite-admin-symfony-1219cee3cde9.json
!/web/bundles/ibrowsnewsletter
/vendor/
!var/data
.idea
/.php_cs
hosts.php
**/Entity/*~
/web/uploads