/app/config/parameters.yml
/bin/*
/build/
/composer.phar
/vendor/
/web/bundles/
!var/cache
/var/cache/*
!var/cache/.gitkeep
!var/logs
/var/logs/*
!var/logs/.gitkeep
!var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!bin/console
!bin/symfony_requirements
/phpunit.xml
/.idea
hosts.php
/src/AppBundle/Keyfile
/web/uploads