
{{ form_start(form, { 'attr': {'novalidate': 'novalidate', 'id' : 'newsletter'}}) }}
  {{ form_widget(form.email, {'attr': {'placeholder': 'email-address' | trans }}) }}
  {{ form_errors(form.email) }}
{{ form_end(form) }}

<div id="newsletter-response" style="color:red;"></div>