
  <div class="wrapper"> 
      
      <nav></nav>

      <main>
        <header></header>   

        <article>

          <section>
            
            <h2>{{ 'unsubscribe-success' | trans }}</h2>

          </section>       

        </article>

        <footer></footer> 
      </main> 

        
      </div>
    </div>
