
  <div class="wrapper"> 
      
      <nav></nav>

      <main>
        <header></header>   

        <article>

          <section>
            
            <h2>{{ 'confirm-unsubscribe' | trans }}</h2>
      
            <p><a href="{{ path('usn_newsletter_unsubscribe_complete', {'access_key':access_key}) }}">Yes</a></p>

          </section>       

        </article>

        <footer></footer> 
      </main> 

        
      </div>
    </div>