{% extends basetemplate %}
{% trans_default_domain "IbrowsNewsletterBundle" %}
{% block layout_class %}newsletter-index{% endblock layout_class %}

{% block newsletter_content %}
    <h1>{{ 'newsletter.layout.index.title'|trans }}</h1>
{% endblock newsletter_content %}
