body {
    display: inherit;
}

.arkounay-image .td-label label {
    overflow: initial;
}
.collection-empty {
    display: none;
}

.a2lix_translations .nav {
    margin-bottom: 10px;
}

.easyadmin-thumbnail .fa {
    font-size: 2.8em;
    vertical-align: middle;
}