{% extends '@EasyAdmin/default/layout.html.twig' %}

{% block content_title %}{{ 'menu.dsv'|trans }}{% endblock %}

{% block main %}

    <a class="btn btn-success" href="{{ path('admin_tools_checkdatabase') }}">{{ 'button.dsv.again'|trans }}</a>

{% endblock %}
