{% extends "::base.html.twig" %}

{% block title %}AppBundle:AppMobileRegister:appmobileregister{% endblock %}

{% block body %}
<h1>Welcome to the AppMobileRegister:appmobileregister page</h1>
{% endblock %}
